<!DOCTYPE html>
<html>
  <head>
    <title>{{ team | title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/mvp.css">
    <link rel="stylesheet" href="/static/app.css">
    <meta property="og:title" content="{{ team | title }}" />
    <meta property="og:url" content="https://pastes.cut-explorer.stalruth.dev/{{team.id}}" />
    <meta property="og:description" content="{{team.name}}'s Open List from the {{team.tour.name}} featuring {{team.pokemon | listSpecies}}" />
  </head>
  <body>
    <main>
      <h1>{{team.name}}'s {{team.tour.name}} Open Team List</h1>
      <div class="teamlist">
        {% for pokemon in team.pokemon %}
          <div class="set-display">
            <div class="set-icons">
              {{ pokemon | setIcon }}
            </div>
            <p>
              {{ pokemon.species }}{% if pokemon.item != None %} @ {{ pokemon.item }}{% endif %}</br>
              Ability: {{ pokemon.ability }}<br>
              {% if pokemon.teratype != None %}
                Tera Type: {{ pokemon.teratype.teratype }}<br>
              {% endif %}
              {% if pokemon.nature != None %}
                {{ pokemon.nature.nature }}
                <span class='nature-bonus'>
                  {% if pokemon.nature.stats.boosted != None %}
                    (+{{pokemon.nature.stats.boosted}}, -{{pokemon.nature.stats.lowered}})
                  {% else %}
                    (No effect)
                  {% endif %}
                </span>
                Nature<br>
              {% endif %}
              {% for move in pokemon.moves %}
                - {{move.move}}<br>
              {% endfor %}
            </p>
          </div>
        {% endfor %}
      </div>
    </main>
  </body>
</html>

